/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@media (max-width: 767px) {
    /* Styles for screens smaller than 768px */

    body {
        font-size: 14px; 
    }

    .navbar-toggler-icon {
        
    }

    .nav-link {
        padding: 5px 10px; 
    }

}


.custom-header {
    background-color: #007bff;
    color: white;
}

.navbar-container {
    display: flex;
    flex-wrap: wrap;
}

    .navbar-container > .navbar:first-child {
        margin-bottom: 0;
        flex: 1 1 auto;
    }

    .navbar-container > .navbar:last-child {
        margin-top: 0;
        flex: 1 1 auto;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link {
    color: #0077cc; /* Non-active tab text color */
    background-color: #f8f9fa; /* Non-active tab background color */
    border-color: #dee2e6; /* Non-active tab border color */
    border-radius: 5px; /* Rounded corners for non-active tabs */
}

    .nav-pills .nav-link:hover {
        background-color: #f0f0f0; /* Hover color for non-active tabs */
    }

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}*/

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index value*/
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.navbar-lightblue {
    background-color: #87CEFA;
}

/* Additional styles for the tab navigation */
.navbar-collapse {
    justify-content: flex-start; /* Align items to the left */
    padding-left: 15px; /* Add some left padding to the navigation items */
}

.nav-pills {
    width: 100%; /* Make the pills span the full width */
}

.nav-link {
    text-align: center; /* Center the text within the pills */
}
