
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="AddTransaction">Add Transactions</a>
    </div>

    <p>
        Transactions
    </p>
</div>
