@model List<FinanceChecker.Models.Transaction>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="CreateTransaction">Add Transactions</a>
    </div>

    <h2>Transaction History</h2>

</div>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Account ID</th>
            <th>Institution Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
