@model List<FinanceChecker.Models.Transaction>


<div class="text-center">
    <div class="text-end mt-2">
        <a class="btn btn-primary" asp-area="" asp-controller="Transaction" asp-action="CreateTransaction">Add Transactions</a>
    </div>

    <h3>TRANSACTION HISTORY</h3>

</div>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Account ID</th>
            <th>Institution Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
<br />
<br /><br />