<!DOCTYPE html>
<html>
<head>
    <title>FinanceChecker - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

    <style>
        body {
            background-image: url('/img/pexels-oleksandr-canary-islands-12969397.jpg');
            background-size: cover; /* Make the image cover the entire body */
            background-repeat: no-repeat;
            background-attachment: fixed; /* Keep the background image fixed while scrolling */
        }

        /* Style for the text content */
        .content {
            text-align: center;
            padding: 100px; /* padding for better readability */
        }

        h2 {
            color: black;
            font-size: 36px;
            margin-bottom: 20px;
            margin-top: 90px;
        }

        h6 {
            color: black;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="content">
        <h2>Welcome to FinanceChecker</h2>
        <h6>Take control of your finances with our powerful finance management app.</h6>
    </div>
</body>
</html>

@*https://www.pexels.com/photo/coins-bank-cards-and-a-miniature-eiffel-tower-on-paper-documents-12969397/*@