@{
    ViewData["Title"] = "Password Reset Error";
}
<br />

<h2>Password Reset Error</h2>
<p>Sorry, an error occurred while resetting your password. Please try again later.</p>
<a href="@Url.Action("Index", "Home")">Go back to Home</a>
