@model FinanceChecker.DataTransferObject.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Reset Password</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <h2 class="mb-4">Reset Password</h2>

        <form method="post" asp-action="ResetPassword">
            <input type="hidden" name="UserId" value="@Model.UserId" />

            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="NewPassword" required>
                <label for="NewPassword">New Password:</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="ConfirmNewPassword" required>
                <label for="ConfirmNewPassword">Confirm New Password:</label>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
