@model FinanceChecker.Models.Category

<h2>Add Category</h2>

<form method="post" asp-action="AddCategory">

    <div class="form-group">
        <label for="CategoryName">Enter New Category Name:</label>
        <input class="form-control" type="text" name="CategoryName">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>



