@model FinanceChecker.Models.Budget
    <div class="text-end">
        <a class="btn btn-primary" asp-area="" asp-controller="Budget" asp-action="AddCategory">Add a New Category</a>
    </div>
<h1>Create Monthly Budget</h1>

<form asp-action="CreateBudget" asp-controller="Budget" method="post">
    <input type="hidden" asp-for="UserID" />

    <div class="form-group">
        <label for="CategoryName">Category Name:</label>
        <select asp-for="CategoryName" asp-items="(SelectList)ViewBag.Categories" class="form-control">
            <option value="">-- Select Category --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Amount">Amount:</label>
        <input asp-for="Amount" type="text" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="CategoryID" />
    <input type="hidden" asp-for="TotalTransactionsAmount" />
    <input type="hidden" asp-for="CreatedAt" />
    <input type="hidden" asp-for="UpdatedAt" />
    <input type="hidden" asp-for="Progress" />

    <input type="submit" value="Create" class="btn btn-primary" />
</form>
