
<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Budget" asp-action="AddCategory">Add a New Category</a>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Budget</p>
</div>

