@{
    ViewData["Title"] = "Help and Support";
}

<h1>Help and Support</h1>

<p>Welcome to the help and support page. Here, you can find useful resources to assist you with using our app.</p>

<ul>
    <li><a asp-action="FAQs">Frequently Asked Questions</a></li>

    @*<li><a asp-action="VideoTutorials">Video Tutorials</a></li>*@

    <li><a asp-action="Contact">Contact Us</a></li>
</ul>
