@using Microsoft.AspNetCore.Identity

@model Account

<h2>Create Account</h2>

<p>User ID: @ViewBag.Id</p>


<form method="post" asp-action="CreateAccount">
    <div class="form-group">
        <label for="accountNumber">Account Number:</label>
        <input class="form-control" type="text" name="AccountNumber" required>
    </div>
    <div class="form-group">
        <label for="institutionName">Institution Name:</label>
        <input class="form-control" type="text" name="InstitutionName" required>
    </div>
    <div class="form-group">
        <label for="balance">Balance:</label>
        <input class="form-control" type="number" name="Balance" step="0.01">
    </div>

    <div class="form-group">
        <label for="userId">User ID:</label>
        <input class="form-control" type="text" name="Id"
               value="@ViewBag.Id" readonly>
    </div>

    <input type="hidden" name="CreatedAt" value="@DateTime.Now">
    <input type="hidden" name="UpdatedAt" value="@DateTime.Now">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
